#barContainer{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#barEmpty {
    width: 100%;
    height: 18px;
    padding: 2px;
    border-radius: 2px;
    background-color:  rgb(201, 200, 200);
}
  
#barProgress {
    width: 0%;
    height: 14px;
    border-radius: 2px;
    background-color:rgb(17, 138, 47);
}

.btnsLayout{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.timer{
    color:rgb(41, 39, 39);
    margin-top: 20px;
    padding: 0%;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    text-align: center;
}

.timer.hour, .timer.min, .timer.sec{
    display: inline-block;
    width: 105px;
    padding: 0%;
    font-weight: bold;
}
.timer.ms{
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
    padding-left: 8px;
    width: 75px;
}

.button{
    background-color: #2979FF;
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    width: 90px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;  
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    border-radius:3px;
    display:inline-block;
    outline: none;
}

.button:hover{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.048),inset 0 0 0em 0.05em rgba(255, 255, 255, 0.26);
    outline: none;
}

.button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.329),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.button.btn-set-time{
    outline: none;
}

.button.btn-start-stop{
    background-color: rgb(34, 165, 67);
    outline: none;
}

.button.btn-reset{
    background-color: #ffbb00;
    outline: none;
}

.button:disabled{
    background-color: rgb(240, 235, 235);
    color: rgb(184, 182, 182);
    box-shadow: none;
    outline: none;
}

.button.btn-submit{
    background-color: rgb(34, 165, 67);
    outline: none;
}

.button.btn-close{
    background-color:#d64f3d;
    outline: none;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

th{
    padding: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}
